<div class="index">
<h1>All Articles
<% if logged_in? %>
  <%= link_to HTMLEntities.new.decode('&#10010;'), new_article_path, class: "new_btn" %>
<% end %></h1>
<ul id="articles">
  <% @articles.each do |article| %>
    <li>
    <% @avg = Review.where(:article_id => article.id).average(:rating) %> 
    <div class="article_link row">
      <div class="row">
      <div class="col-sm-2">
      <% if article.image.exists? %>
      	<%= image_tag article.image.url, class: "link_image" %>
      <% else %>
        <img src="/assets/null.gif" class="link_image">
  	  <% end %>
  	 </div>
     <div class="col-sm-6">
      <%= link_to article.title, article_path(article), class: "link_title" %>
    </div>
      <div class="col-sm-4 rating-row">
    <% @avg.to_i.times do %>
      <i class="glyphicon glyphicon-star"></i>
    <% end %>
    <% (5-@avg.to_i).times do %>
      <i class="glyphicon glyphicon-star-empty"></i>
    <% end %>
    	</div>
    </div>
    <div class="article_summary row">
        <%= article.body.summarize(:ratio => 3).force_encoding(Encoding::UTF_8) %>
    </div>
  </div>
    </li>
  <% end %>
</ul>
</div>