<div class="index">
<h1>All Articles
<% if logged_in? %>
  <%= link_to HTMLEntities.new.decode('&#10010;'), new_article_path, class: "new_btn" %>
<% end %></h1>
<ul id="articles">
  <% @articles.each do |article| %>
    <li>
    <div class="article_link row">
    <div class="col-sm-2">
      <% if article.image.exists? %>
      	<%= image_tag article.image.url, class: "link_image" %>
      <% else %>
        <img src="/assets/null.gif" class="link_image">
  	  <% end %>
  	 </div>
     <div class="col-sm-10">
      <%= link_to article.title, article_path(article), class: "link_title" %>
    	</div>
    </div>
    </li>
  <% end %>
</ul>
</div>