<div class="tag_all">
<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li class = "tags">
      <%= link_to tag.name, tag_path(tag) %>
      <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the article?"}, class: "del_tag" %>
    </li>
  <% end %>
</ul>
</div>